* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: var(--font-roboto);
}

a {
  text-decoration: none;
  color: var(--white);  
}


:root {
  --black: #000000;
  --white: #ffffff;
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-serif: 'Roboto Serif', serif;
  --padding-content: 13.1875rem;
}

:root {
  --background-light-header: #87ceeb;
  --background-light-content: #71b7d3;
  --background-light-building-color-1: #3a5473;
  --background-light-building-color-2: #8e71e2;
  --background-light-building-window-color: #ebff00;
  --gray-light-street: #d6d1d1;
  --green-light: #47d982;
}

:root {
  --background-dark-header: #0A0F1E;
  --background-dark-content: #0F172D;
  --border-dark: #06A9C5;
  --background-dark-building-color-1: #3a5473;
  --background-dark-building-color-2: #523f8a;
  --background-dark-building-window-color: #dcbf28;
  --gray-dark-street: #7d7d7d;
  --green-dark: #358756;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
